/Ejercicios/Ejercicios_Java/build/
/Ejercicios/Ejemplo_POO/nbproject/private/
/Ejercicios/Ejemplo_POO/build/
/Ejercicios/Metodos_POO/nbproject/private/
/Ejercicios/Metodos_POO/build/
/Ejercicios/Personas_POO/nbproject/private/
/Ejercicios/Personas_POO/build/
/Ejercicios/Telefonos_POO/nbproject/private/
/Ejercicios/Telefonos_POO/build/
/Ejercicios/operaciones_POO_argumentos/nbproject/private/
/Ejercicios/operaciones_POO_argumentos/build/
/Ejercicios/Operaciones_Retorno_POO/nbproject/private/
/Ejercicios/Operaciones_Retorno_POO/build/
/Ejercicios/Ejercicio_POO_retornos/nbproject/private/
/Ejercicios/Ejercicio_POO_retornos/build/
/Ejercicios/Constructores_Persona/nbproject/private/
/Ejercicios/Constructores_Persona/build/
/Ejercicios/POO_Arreglos/nbproject/private/
/Ejercicios/POO_Arreglos/build/
/Ejercicios/proyecto/nbproject/private/
/Ejercicios/ssda/nbproject/private/
/Ejercicios/ssda/build/
/Ejercicios/proyecto/build/
/Ejercicios/JavaApplication17/nbproject/private/
/Ejercicios/JavaApplication17/build/
/Ejercicios/JavaApplication18/nbproject/private/
/Ejercicios/JavaApplication18/build/