/Ejercicios/Ejercicios_Java/build/
/Ejercicios/Ejemplo_POO/nbproject/private/
/Ejercicios/Ejemplo_POO/build/
/Ejercicios/Metodos_POO/nbproject/private/
/Ejercicios/Metodos_POO/build/
/Ejercicios/Personas_POO/nbproject/private/
/Ejercicios/Personas_POO/build/
/Ejercicios/Telefonos_POO/nbproject/private/
/Ejercicios/Telefonos_POO/build/